@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&family=Roboto:wght@300;400&display=swap');

/*-------------------------------------------------------General*/
body {
    background-color: #e0e0e0;
    font-family: "Roboto", sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;    
    }

main {
   flex: 1 0 auto;
  }

.container {
    margin: 0;
    width: inherit;
    max-width: initial;
}

.text-shadow {
    text-shadow: 1px 1px 1px rgba(20, 20, 20, 0.5);
}
/*-------------------------------------------------------Flashes*/
.row.flashes, .flashes h3 {
    margin: 0;
}

.flashes h3 {
    font-family: "Orbitron";
    font-weight: 500;
    font-size: 25px;
    color: #fafafa; 
    line-height: 3;
}

/*-------------------------------------------------------Navbar*/
.brand-logo {
    font-family: "Orbitron", sans-serif;
    font-weight: 500;
}
.nav-wrapper a span {
    color: #fb8c00;
}

.nav-extended.row {
    margin-bottom: 0;
}
/*----------------------------------------------------Homepage*/

/*--------------------------------Callout*/
.callout {
   position: relative;   
}

.img-wrapper {
    display: flex;
    flex-direction: column;
}

.row.overlay {
    margin:0;
}

.overlay-text h4 {
    font-family: "Orbitron", sans-serif;
    font-weight: 400; 
    color: #3d3b3b;
}

.overlay-btn {
    display: none;
}

.callout-btns {
    display: flex;
    justify-content: space-around;
    padding: 25px;
}
.btn-flat {
    font-family: "Orbitron", sans-serif;
    font-weight: 400;
    color: #fafafa;
    border-radius: 5px;
}

.overlay-text {
   background-color: #fb8c00;
   border-radius: 6px;
   padding: 25px;
   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
   opacity: 98%;
   top: 35%;    
}

/*--------------------------------About Card*/

.about p {
    padding: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #616161;
}

/*--------------------------------Log-in & Create Account Page*/

.card-panel {
    height: 32em;
    margin-top: 30px;
}

.card-panel h4 {
    font-family: "Orbitron", sans-serif;
    font-weight: 400;
}
.login-btn,
.ca-btn,
.link {
    display: grid;
    place-items: center;
}

.page-footer .footer-copyright {
    margin: 0;
    background-color: transparent;    
}

.page-footer .container .row {
    display: grid;
    place-items: center;
}


/*--------------------------------Media-Queries*/
@media only screen and (min-width:601px) {
    .callout {
        position: relative;
    }
    
    .overlay-text {
        position: absolute;
        top: 25%;
    }

}

@media only screen and (min-width: 1096x) {
    .callout {
        position: relative;
    }
    
    .overlay-text {
        position: absolute; 
    }

    nav {
        display: flex;
        flex-direction: column;
    }

    #login_mob, #logout_mob {
        display: none;
    }
}
