@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&family=Roboto:wght@300;400&display=swap');

/*-------------------------------------------------------General*/
body {
    background-color: #e0e0e0;
    font-family: "Roboto", sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;    
    }

main {
   flex: 1 0 auto;
}

.text-shadow {
    text-shadow: 1px 1px 1px rgba(20, 20, 20, 0.5);
}

.btn:hover, .btn-small:hover, .btn:focus, .btn-small:focus {
    background-color: #e65100;
}

/*-------------------------------------------------------Flashes*/
.row.flashes, .flashes h3 {
    margin: 0;
}

.flashes h3 {
    font-family: "Orbitron";
    font-weight: 500;
    font-size: 25px;
    color: #fafafa; 
    line-height: 3;
}

/*-------------------------------------------------------Navbar*/
.brand-logo {
    font-family: "Orbitron", sans-serif;
    font-weight: 500;
}
.nav-wrapper a span {
    color: #fb8c00;
}

.nav-extended.row {
    margin-bottom: 0;
}

#login-btn, #logout-btn {
    font-family: "Orbitron", sans-serif;
    font-weight: 400;
    margin-top: 15px;
}

/*----------------------------------------------------Homepage*/

/*--------------------------------Callout*/
.row.callout {
   position: relative;   
}

.img-wrapper {
    display: flex;
    flex-direction: column;
}

.hero-img {
    height: 450px;
    width: 99vw;
    align-self: center;
}   

.row.overlay {
    margin:0;
    position: absolute;
   
}

.overlay-text h4 {
    font-family: "Orbitron", sans-serif;
    font-weight: 400; 
    color: #3d3b3b;
    font-size: 17px;
}

.overlay-btn {
    display: none;
}

.callout-btns {
    display: flex;
    justify-content: space-around;
    padding: 25px;
}
.btn-flat {
    font-family: "Orbitron", sans-serif;
    font-weight: 400;
    color: #fafafa;
    border-radius: 5px;
}

.overlay-text {
   background-color: #fb8c00;
   border-radius: 6px;
   padding: 25px;
   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
   opacity: 98%;
   top: 35%;    
}

/*--------------------------------About Card*/
.card-panel.about {
    height: min-content;
}

.about p {
    padding: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #616161;
}

/*--------------------------------User Profile Page*/
.profile-btns {
    font-family: "Orbitron", sans-serif;
    display: flex;
    flex-direction: column;
    justify-items: center;    
}

.profile-btns a {
    margin: 15px 0;
}

/*--------------------------------Find Reviews Page*/
.card {
    background-color: #fb8c00;
}
.card-preview {
    display: grid;
    justify-content: center;
    grid-gap: .25em;
    grid-template-columns: repeat(auto-fit, minmax(8em, 1fr));
    grid-auto-flow: row;
}

.card-title.review-name {
    background-color: #fb8c00;
    padding: 15px;
    border-radius: 0 8px 0 0;
    font-family: "Orbitron", sans-serif;
    font-weight: 500;    
    font-size: 14px;
}

.card-image img {
    height: 270px;
    object-fit: cover;
}

.created-by {
    margin-left: 30px;
    font-size: 15px;
}

.game-data {
   background-color: #fb8c00;
   padding: 0 30px;
   color: #fafafa;
   font-weight: 400;
    
}

.card-content {
    background-color: #fafafa;
}

.card .card-action {
    background-color: #fafafa;
    height: 45px;
    padding: 7px;
}

.card .card-content p{
    font-family: "Roboto", sans-serif;
    font-weight: 400; 
    margin-top: 15px;
    margin-left: 30px;
    height: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 10px;
}

.link {
    font-family: "Roboto", sans-serif;
    font-weight: 400; 
    padding: 5px;
    font-size: 12px;
    
}

.btn-small, .edit-btn {
    font-family: "Orbitron", sans-serif;
    font-weight: 400; 
    background-color: #3d3b3b;
    border-radius: 5px;
    font-size: 12px;
}

/*--------------------------------Add Review Page*/
.card-panel.review-card {
    height: auto;
}

/*--------------------------------Edit Review Page*/
.edit-btns {
    display: grid;
    padding: 12px;
    grid-row-gap: 14px;
}

.modal {
   top: 20% !important;
   border-radius: 6px;
   padding: 0 10px;
   max-width: 400px;
   text-transform: none;   
}
.edit-modal {
    height: 195px;
}

.modal .modal-content {
   padding: 24px 30px 0px 30px;
}

.modal-btns .btn.grey {
  margin-right: 13px;  
}

/*--------------------------------Log-in & Create Account Page*/

.card-panel {
    height: 32em;
    margin-top: 30px;
}

.login-btn,
.ca-btn,
.link,
.card-panel h4 {
    font-family: "Orbitron", sans-serif;
    font-weight: 400;       
}

.login-btn, .ca-button {
    width: 250px;
    height: 55px;
}

.btn-wrapper, .link {
    display: grid;
    place-items: center;
}

.page-footer .footer-copyright {
    margin: 0;
    background-color: transparent;    
}

.page-footer .container .row {
    display: grid;
    place-items: center;
}

/*--------------------------------Genres & Platforms Pages*/
.genres-title {
    font-family: "Orbitron", sans-serif;
    font-weight: 500; 
       
}

.card-title.genre-header {
    font-family: "Orbitron", sans-serif;
    font-weight: 500;       
}

/*--------------------------------Media-Queries*/
@media only screen and (min-width:768px) {
    #login_mob, #logout_mob {
        display: none;
    }

     .row.overlay {
        position: unset;
    }

}

@media only screen and (min-width:1024px) {
    .callout {
        position: relative;
    }
    
    .overlay-text {
        position: absolute; 
    }

    .overlay-text h4 {
        font-size: 20px;
    }

    nav {
        display: flex;
        flex-direction: column;
    }

    #menu {
    padding-right: 0;
    margin-right: 0;
    }

    .card-preview-container {
        display: flex;
        justify-content: center;
    }

    .card-preview-container .col.l3 {
        margin: 0;
    }
    
    .card-title.review-name {
        font-size: 18px;
    }

    #login_mob, #logout_mob {
        display: none;
    }

    .row.edit-btns {
        display: block;
        
    }

    .modal-btns .btn.grey {
        margin-right: 42px;  
    }
}
