{% extends "base.html" %}
{% block content %}
<section class="row">
    <div class="img-wrapper">
        <img class="hero-img" loading="lazy"
            src="{{ url_for('static', filename='assets/images/hero-img.png') }}" alt="hero image" />
    </div>
    <div class="card-panel center-align col s12 error">
        <h3 class="orange-text text-darken-1 text-shadow">&gt;404 - Page not found&lt;</h3>
        <h4 class="grey-text text-darken-2 text-shadow">&gt;Sorry, the page you requested could not be found.&lt;</h4>        
        <a href="{{ url_for('home') }}"
            class="btn-large text-shadow home-btn">
            &lt;&lt;&lt;Back to Home
        </a>        
    </div>
</section>
{% endblock %}