{% extends "base.html" %}
{% block content %}

        <div class="row">
            <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('add_review') }}">
                <div class="card-panel review-card">                    
                    <h4 class="center-align text-shadow orange-text text-darken-1">&gt;Add a Review&lt;</h4>
                    <!--Add Review Form-->
                    <div class="row">
                    <!--Game Title Input-->
                        <div class="input-field col s12">
                            <i class="fas fa-heading prefix grey-text text-darken-2"></i>
                            <input id="review_name" name="review_name" type="text" minlength="2"
                                maxlength="50" class="validate" required>
                            <label for="review_name">Game Title</label>
                        </div>
                    </div>
                    <div class="row">
                    <!--Genre Select Field-->
                        <div class="input-field col s12">
                            <i class="fas fa-play prefix grey-text text-darken-2"></i>
                            <select id="genre_name" name="genre_name" class="icons" required>
                            <option value="" disabled selected>Select a Genre</option>
                            {% for genre in genres %}
                            <option value="{{ genre.genre_name }}" data-icon="{{ genre.genre_img }}">{{ genre.genre_name }}</option>
                            {% endfor %}                            
                            </select>
                            <label for="genre_name">Select a Genre</label>
                        </div>
                    </div>
                    <div class="row">
                    <!--Platform Select Field-->
                        <div class="input-field col s12">
                            <i class="fas fa-gamepad prefix grey-text text-darken-2"></i>
                            <select id="platform" name="platform" class="icons" required>
                            <option value="" disabled selected>Select a Platform</option>
                            {% for platform in platforms %}
                            <option value="{{ platform.platform_name }}" data-icon="{{ platform.platform_img }}">{{ platform.platform_name }}</option>
                            {% endfor %}
                            </select>
                            <label for="platform">Select a Platform</label>
                        </div>
                    </div>
                    <div class="row">
                    <!--Developer/Publisher Name Input-->
                        <div class="input-field col s12">
                            <i class="fas fa-signature prefix grey-text text-darken-2"></i>
                            <input id="dev_name" name="dev_name" type="text" minlength="5"
                                maxlength="25" class="validate" required>
                            <label for="dev_name">Developer/Publisher</label>
                        </div>
                    </div>
                    <!--Release Year Input-->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-calendar-alt prefix grey-text text-darken-2"></i>
                            <input id="release_year" name="release_year" type="text" minlength="4"
                                maxlength="4" class="validate" required>
                            <label for="release_year">Release Year</label>
                        </div>
                    </div>
                    <!--Image URL Input-->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-image prefix grey-text text-darken-2"></i>
                            <input 
                                id="img_url" 
                                name="img_url" 
                                minlenght="7" 
                                type="url" 
                                pattern="https://.*" 
                                class="validate lazyload" 
                                required>
                            <label for="img_url">Enter Image URL</label>
                        </div>
                    </div>
                    <!--Review Text Area-->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-pen-square prefix grey-text text-darken-2"></i>
                            <textarea id="review_text" name="review_text" class="materialize-textarea" 
                            minlength="250" maxlength="2000" required></textarea>
                            <label for="review_text">
                                Review Text
                                 <i
                                    class="fas fa-info-circle tooltipped"
                                    data-position="top"
                                    data-tooltip="Minimum 250 characters">
                                </i>
                            </label>
                        </div>
                    </div>
                    <!--Save & Cancel Buttons-->
                    <div class="row right-align">
                        <button type="submit" class="btn grey darken-2">
                            Add Review <i class="fas fa-plus right"></i>
                        </button>
                        <a class="waves-effect waves-grey btn grey darken-2"
                        href="{{ url_for('get_reviews') }}">Cancel <i class="fas fa-times right"></i></a>
                        
                    </div>                    
                </div>
            </form>
        </div>

{% endblock %}