{% extends "base.html" %}
{% block content %}

    <div id="add_platform" class="card center-align">
        <div class="card-content">
            <div class="row">
                <form method="POST" action="{{ url_for('add_platform') }}">
                    <div class="col s12 center-align">
                        <h4 class="platforms-title text-shadow orange-text text-darken-1">&gt;Add Platform&lt;</h4>
                        <input id="platform_name" name="platform_name" type="text" minlength="2"
                        value="" maxlength="25" class="validate" required>
                        <label for="platform_name">Enter Platform Name</label>
                    </div>
                    <div class="input-field col s12">
                            <input id="img_url" value="" name="img_url" minlenght="7" type="url" class="validate" required>
                            <label for="img_url">Enter Image URL</label>
                    </div>
                    <div class="modal-footer modal-btns">
                        <button type="submit" class="btn grey darken-2">
                            Save <i class="fas fa-save right"></i>
                        </button>
                        <a class="waves-effect waves-grey btn grey darken-2" href="{{ url_for('get_platforms')}}">
                            Cancel <i class="fas fa-times right"></i>
                        </a>                            
                    </div>
                </form>
            </div>
        </div>        
    </div>


{% endblock %}