{% extends "base.html" %}
{% block content %}

        <div class="row">
            <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('create_account') }}">
                <div class="card-panel">                    
                    <h4 class="center-align text-shadow orange-text text-darken-1">&gt;Create Account&lt;</h4>
                    <!--Create Account Form-->
                    <!--Username Input-->
                    <div class="row">
                        <div class="input-field col s12" autocomplete="off">
                            <i class="fas fa-user-plus prefix grey-text text-darken-2"></i>
                            <input id="username" name="username" type="text" minlength="5"
                                maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                            <label for="username">
                                Username
                                <i
                                    class="fas fa-info-circle tooltipped"
                                    data-position="top"
                                    data-tooltip="Username must contain only letters and numbers and be a minimum of 5 characters long.">
                                </i>
                            </label>
                        </div>
                    </div>
                    <!--Password Input-->
                    <div class="row">
                        <div class="input-field col s12" autocomplete="off">
                            <i class="fas fa-unlock prefix grey-text text-darken-2"></i>
                            <input id="password" name="password" type="password" minlength="5" 
                                maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                            <label for="password">
                                Password
                                 <i
                                    class="fas fa-info-circle tooltipped"
                                    data-position="top"
                                    data-tooltip="Password must contain only letters and numbers and be a minimum of 5 characters long.">
                                </i>
                            </label>
                        </div>
                    </div>
                    <!--Create Account Button-->
                    <div class="row center-align">
                        <button class="btn-large waves-effect waves-grey grey darken-2 ca-btn">
                            Create Account &gt;&gt;&gt;
                        </button>
                    </div>
                    <div class="row center-align s12 link">
                            Already have an account?
                            <a href="{{ url_for('login') }}" class="light-blue-text text-darken-4"><u>Log In</u></a>
                    </div>
                </div>
            </form>
        </div>
         

{% endblock %}