{% extends "base.html" %}
{% block content %}

        <div class="row">
            <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('edit_review', review_id=review._id) }}">
                <div class="card-panel review-card">                    
                    <h4 class="center-align text-shadow orange-text text-darken-1">&gt;Edit Review&lt;</h4>
                    <!--Edit Review Form-->
                    <div class="row">
                    <!--Game Title Input-->
                        <div class="input-field col s12">
                            <i class="fas fa-heading prefix grey-text text-darken-2"></i>
                            <input id="review_name" name="review_name" type="text" minlength="2"
                                value="{{ review.review_name }}" maxlength="50" class="validate" required>
                            <label for="review_name">Game Title</label>
                        </div>
                    </div>
                    <div class="row">
                    <!--Genre Select Field-->
                        <div class="input-field col s12">
                            <i class="fas fa-play prefix grey-text text-darken-2"></i>
                            <select id="genre_name" name="genre_name" class="icons" required>
                            <option value="" disabled>Select a Genre</option>
                            {% for genre in genres %}
                                {% if genre.genre_name == review.genre_name %}
                                <option value="{{ genre.genre_name }}" data-icon="{{ genre.genre_img }}" selected>{{ genre.genre_name }}</option>
                                {% else %}
                            <option value="{{ genre.genre_name }}" data-icon="{{ genre.genre_img }}">{{ genre.genre_name }}</option>
                            {% endif %}
                            {% endfor %}                            
                            </select>
                            <label for="genre_name">Select a Genre</label>
                        </div>
                    </div>
                    <div class="row">
                    <!--Platform Select Field-->
                        <div class="input-field col s12">
                            <i class="fas fa-gamepad prefix grey-text text-darken-2"></i>
                            <select id="platform" name="platform" class="icons" required>
                            <option value="" disabled>Select a Platform</option>
                            {% for platform in platforms %}
                                {% if platform.platform_name == review.platform %}
                                <option value="{{ platform.platform_name }}" data-icon="{{ platform.platform_img }}" selected>{{ platform.platform_name }}</option>
                                {% else %}
                            <option value="{{ platform.platform_name }}" data-icon="{{ platform.platform_img }}">{{ platform.platform_name }}</option>
                                {% endif %}
                            {% endfor %}
                            </select>
                            <label for="platform">Select a Platform</label>
                        </div>
                    </div>
                    <div class="row">
                    <!--Developer/Publisher Name Input-->
                        <div class="input-field col s12">
                            <i class="fas fa-signature prefix grey-text text-darken-2"></i>
                            <input id="dev_name" name="dev_name" type="text" minlength="5"
                               value="{{ review.dev_name }}" maxlength="25" class="validate" required>
                            <label for="dev_name">Developer/Publisher</label>
                        </div>
                    </div>
                    <!--Release Year Input-->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-calendar-alt prefix grey-text text-darken-2"></i>
                            <input id="release_year" name="release_year" type="text" minlength="4"
                                value="{{ review.release_year }}" maxlength="4" class="validate" required>
                            <label for="release_year">Release Year</label>
                        </div>
                    </div>
                    <!--Image URL Input-->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-image prefix grey-text text-darken-2"></i>
                            <input id="img_url" value="{{ review.img_url }}" name="img_url" minlenght="7" type="url" class="validate" required>
                            <label for="img_url">Enter Image URL</label>
                        </div>
                    </div>
                    <!--Review Text Area-->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-pen-square prefix grey-text text-darken-2"></i>
                            <textarea id="review_text" name="review_text" class="materialize-textarea" 
                            minlength="250" maxlength="2000" required>
                            {{ review.review_text }}</textarea>
                            <label for="review_text">Review Text</label>
                        </div>
                    </div>
                    <!--Save,Cancel & Delete Buttons-->
                    <div class="row edit-btns">
                        <button type="submit" class="btn grey darken-2">
                            Edit Review <i class="fas fa-edit right"></i>
                        </button>
                        <a class="waves-effect waves-grey btn grey darken-2"
                        href="{{ url_for('get_reviews') }}">
                            Cancel <i class="fas fa-times right"></i>
                        </a>
                        <a data-target="{{ review._id }}" class="btn-small grey darken-1 right modal-trigger"
                        href="#del-modal">
                            Delete <i class="fas fa-trash-alt right"></i>
                        </a>
                    </div> 
                    <!--Delete Review Modal-->
                    <div id="{{ review._id }}" class="modal center-align">
                        <div class="modal-content">
                            <div class="row">
                                <div class="col s12">
                                    <h3 class="red-text flow-text"><strong><i class="fas fa-exclamation-circle"></i><u>Warning : </u></strong></h3>
                                    <h3 class="red-text flow-text"><strong><u>Deleting is permanent!</u></strong></h3>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer modal-btns">
                            <a class="waves-effect waves-grey btn grey darken-2 modal-close"
                            href="#">Cancel <i class="fas fa-times right"></i>
                            </a>
                            <a class="btn grey darken-1"
                            href="{{ url_for('delete_review', review_id=review._id) }}">
                            Delete <i class="fas fa-trash-alt right"></i>
                            </a>
                        </div>
                    </div>                   
                </div>
            </form>
        </div>

{% endblock %}