{% extends "base.html" %}
{% block content %}

{% if session.user|lower == "admin"|lower %}
<div class="row">
    <div class="col offset-m3 offset-l4 center-align">
        <h4 class="genres-title text-shadow orange-text text-darken-1">&gt;Manage Genres&lt;</h4>
        <a class="waves-effect waves-grey btn grey darken-2 modal-trigger" href="{{ url_for('add_genre') }}">
            Add Genre <i class="fas fa-plus right"></i>
        </a>
    </div>   
</div>
{% else %}
<h4 class="center-align genres-title text-shadow orange-text text-darken-1">&gt;Genres&lt;</h4>
{% endif %}

<div class="row">
    {% for genre in genres %}
       <div class="col offset-m1">
           <div class="card s12 m3">
               <div class="card-content center-align">
                   <span class="card-title genre-header"><a class="orange-text text-darken-1" href="{{ url_for('find_genre', genre_name=genre.genre_name) }}">{{ genre.genre_name }}</a></span>
               </div>
               {% if session.user|lower == "admin"|lower %}
               <div class="card-action">
                        <a data-target="edit{{loop.index}}" class="waves-effect waves-grey btn-small grey darken-2 modal-trigger">
                        Edit <i class="fas fa-edit right"></i>
                        </a>
                        <a data-target="delete{{loop.index}}" class="btn-small grey darken-1 right modal-trigger">
                        Delete <i class="fas fa-trash-alt right"></i>
                        </a>
               </div>
               {% endif %}
           </div>
       </div>   
    <!--Edit Genre Modal-->
                    <div id="edit{{loop.index}}" class="modal edit-modal center-align">
                        <div class="modal-content">
                            <div class="row">
                                <form method="POST" action="{{ url_for('edit_genre', genre_id=genre._id) }}">
                                    <div class="col s12">
                                        <input id="genre_name" name="genre_name" type="text" minlength="2"
                                            value="{{ genre.genre_name }}" maxlength="25" class="validate" required>
                                        <label for="genre_name">Genre Name</label>
                                    </div>
                                    <div class="modal-footer modal-btns">
                                         <button type="submit" class="btn grey darken-2">
                                            Save <i class="fas fa-save right"></i>
                                        </button>
                                         <a class="waves-effect waves-grey btn grey darken-2 modal-close" href="#">
                                            Cancel <i class="fas fa-times right"></i>
                                        </a>                            
                                    </div>                                   
                                </form>
                            </div>
                        </div>
                        
                    </div>
    <!--Delete Genre Modal-->
                    <div id="delete{{loop.index}}" class="modal center-align">
                        <div class="modal-content">
                            <div class="row">
                                    <div class="col s12">
                                        <h3 class="red-text flow-text"><strong><i
                                                    class="fas fa-exclamation-circle"></i><u>Warning : </u></strong></h3>
                                        <h3 class="red-text flow-text"><strong><u>Deleting is permanent!</u></strong></h3>
                                    </div>                                
                            </div>
                        </div>
                        <div class="modal-footer modal-btns">
                            <a class="waves-effect waves-grey btn grey darken-2 modal-close" href="#">
                                Cancel <i class="fas fa-times right"></i>
                            </a>
                            <a class="btn grey darken-1" href="{{ url_for('delete_genre', genre_id=genre._id) }}">
                                Delete <i class="fas fa-trash-alt right"></i>
                            </a>
                        </div>
                    </div>
     {% endfor %}
</div>

{% endblock %}