{% extends "base.html" %}
{% block content %}

<section class="row callout">
    <div class="img-wrapper">
        <img class="responsive-img hero-img" loading="lazy"
            src="{{ url_for('static', filename='assets/images/hero-img.png') }}" alt="hero image" />
    </div>
    <div class="row overlay">
        <div class="col s12 m8 l4 xl3 offset-l2 offset-m2 offset-xl2 overlay-text center-align">
            <h4 class="flow-text">Got and opinion or want one?</h4>
            <h4 class="flow-text">Browse reviews or add one yourself!</h4>
            <div class="callout-btns">
                <a class="waves-effect waves-grey btn-flat flow-text grey darken-2 "
                    href="{{ url_for('get_reviews') }}">Find Reviews&gt;&gt;&gt;</a>
                {% if session.user %}
                <a class="waves-effect waves-grey btn-flat flow-text grey darken-2 overlay-btn show-on-large" href="#">Add a Review&gt;&gt;&gt;</a>
                {% else %}
                <a class="waves-effect waves-grey btn-flat flow-text grey darken-2 overlay-btn show-on-large"
                    href="{{ url_for('create_account') }}">Create Account&gt;&gt;&gt;</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<section class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel about">
            <h4 class="center-align flow-text orange-text text-darken-1 text-shadow">What is uReview?</h4>
            <p class="flow-text center-align">
                Aren't you tired of reading reviews that feel like company PR reports?
                uReview features 100% user generated content, representing the honest opinions of
                the gamers like yourself, independent of gaming platform. With respect and passion, without prejudice,
                read reviews written from your peers, or make an account and add some of your own!
            </p>
        </div>
    </div>
</section>




{% endblock %}