{% extends "base.html" %}
{% block content %}

<section class="row callout">
    <div class="img-wrapper">
        <img class="hero-img" loading="lazy"
            src="{{ url_for('static', filename='assets/images/hero-img.png') }}" alt="hero image" />
    </div>

    <div class="row overlay">
        <div class="col s12 offset-l2 offset-m2 overlay-text center-align">
            <h4 class="white-text text-shadow">Need honest videogame reviews?</h4>
            <h4 class="white-text text-shadow">Browse user created reviews or add one yourself!</h4>
            <div class="callout-btns">
                <a class="waves-effect waves-grey btn-flat flow-text grey darken-2 "
                    href="{{ url_for('get_reviews') }}">Reviews &gt;&gt;&gt;</a>
                {% if session.user %}
                <a class="waves-effect waves-grey btn-flat grey darken-2 overlay-btn show-on-large" href="{{ url_for('add_review') }}">Add a Review &gt;&gt;&gt;</a>
                {% else %}
                <a class="waves-effect waves-grey btn-flat grey darken-2 overlay-btn show-on-large"
                    href="{{ url_for('create_account') }}">Create Account &gt;&gt;&gt;</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<section class="row">
    <div class="col s12 m8 offset-m2 card-panel about">
        <h4 class="center-align orange-text text-darken-1 text-shadow">&gt;What is uReview?&lt;</h4>
        <p class="center-align">
                Aren't you tired of reading reviews that feel like PR reports?
                uReview features 100% user generated content, representing the honest opinions of
                gamers like yourself, independent of gaming platform.<br> With respect and passion, without prejudice,
                read reviews written by your peers, or <a href="{{ url_for('create_account') }}">create an account</a> and add some of your own!
        </p>
    </div>
</section>
<!--Genres Carousel-->
<section class="carousel-wrapper">
    <h4 class="center-align carousel-title orange-text text-darken-1 text-shadow">&gt;Find Reviews by Genre&lt;</h4>
    <div class="carousel">
        {% for genre in genres %}
        <a class="carousel-item text-shadow" href="{{ url_for('find_genre', genre_name=genre.genre_name) }}">
         <img
            class="carousel-img" loading="lazy"
            src="{{ url_for('static', filename='assets/images/square.png') }}"
            alt="Genre image"/>
         <p>{{ genre.genre_name }}</p>
        </a>
        {% endfor %}
    </div>
</section>
<!--Platforms Carousel-->
<section class="carousel-wrapper">
    <h4 class="center-align carousel-title orange-text text-darken-1 text-shadow">&gt;Find Reviews by Platform&lt;</h4>
    <div class="carousel">
        {% for platform in platforms %}
        <a class="carousel-item tooltipped" data-tooltip="{{ platform.platform_name }}" href="{{ url_for('find_platform', platform_name=platform.platform_name) }}">
         <img
            class="carousel-img2" loading="lazy"
            src="{{ platform.img_url}}"
            alt="{{ platform.platform_name }} image"/>         
        </a>
        {% endfor %}
    </div>
</section>
<!--Homepage Search-->
<section class="row">    
    <div class="col s12 m8 card-panel offset-m2 search-card">
        <h4 class="page-title text-shadow orange-text text-darken-1 center-align">&gt;Keyword Search&lt;</h4>
        <form action="{{ url_for('search') }}" method="POST" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <i class="fas fa-search prefix"></i>
                    <input type="text" name="query" id="query" minlength="2" class="validate" required>
                    <label for="query">Search Reviews</label>
                </div>
                <div class="col s12 m4">
                     <a href="{{ url_for('get_reviews') }}" class="red btn text-shadow"><i class="fas fa-undo-alt"></i></a>
                    <button type="submit" class="green btn text-shadow"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>   




{% endblock %}