{% extends "base.html" %}
{% block content %}

<section id="callout">
   <img
      id="responsive-img hero-img"
      loading="lazy"
      src="{{ url_for('static', filename='assets/images/hero-img.jpg') }}"
      alt="hero image"
      />
   <div id="overlay-text">
      <h4>Got and opinion or want one?</h4>
      <h4>Browse reviews or add one yourself!</h4>
      <div id="callout-btns">
         <a class="btn" href="{{ url_for('get_reviews') }}">Browse Reviews</a>
         {% if session.user %}
         <a class="btn" href="{{ url_for('create_account') }}">Add a Review
         <i class="material-icons">add_circle_outline</i></a>
         {% endif %}
      </div>      
   </div>
</section>

<section id="about">
<div class="col s12 m8 offset-m2">
    <div class="card-panel">
        <h4 class="center-align orange-text text-darken-1 text-shadow">What is uReview?</h4>
    </div>
</div>
</section>




{% endblock %}