{% extends "base.html" %}
{% block content %}

        <div class="row">
            <div class="col s12 m8 l8 offset-m2 offset-l2">
                <div class="card-panel profile-btns center-align">                    
                    <h4 class="center-align text-shadow orange-text text-darken-1">&gt;{{ username }}'s profile&lt;</h4>
                    
                    <a class="center-align waves-effect waves-grey btn grey darken-2" href="{{ url_for('get_reviews') }}">Reviews &gt;&gt;&gt;</a>

                    <a class="center-align waves-effect waves-grey btn grey darken-2" href="#">My Reviews &gt;&gt;&gt;</a>
                    
                    <a class="center-align waves-effect waves-grey btn grey darken-2" href="{{ url_for('add_review') }}">Add a Review &gt;&gt;&gt;</a>
                    
                    {% if session.user|lower == "admin"|lower %}
                    <a class="center-align waves-effect waves-grey btn grey darken-2" href="{{ url_for('get_genres') }}">Manage Genres &gt;&gt;&gt;</a>
                    
                    <a class="center-align waves-effect waves-grey btn grey darken-2" href="{{ url_for('get_platforms') }}">Manage Platforms &gt;&gt;&gt;</a>
                    {% endif %}                    
                </div>
            </div>
        </div>
        
{% endblock %}