{% extends "base.html" %}
{% block content %}    
    
           
    <div class="row card-preview-container">
        {% for review in reviews %}         
        <div class="col s12 m8 l2 offset-m2">           
            <div class="card card-preview" id="{{ review.review_id }}">
                        <div class="card-image">
                             <img src="{{ review.img_url}}">
                             <span class="card-title text-darken-1 text-shadow"><u>{{ review.review_name }}</u></span>
                        </div>
                    <div class="preview-wrapper">
                        <div class="game-data left">
                            <ul> 
                                <li>
                                    Genre: <em>{{ review.genre_name }}</em>
                                </li>
                                <li>
                                    Platform: <em>{{ review.platform }}</em>
                                </li>
                                <li class="truncate">
                                    Developer: <em>{{ review.dev_name }}</em>
                                </li>
                                <li>
                                    Released: <em>{{ review.release_year }}</em>
                                </li>
                            </ul>
                        </div>
                        <br>
                        <span class="created-by flow-text right">by <strong>{{ review.created_by }}</strong></span>
                        <div class="card-content flow-text left">
                            <p class="review-text">
                                {{ review.review_text }}
                            </p>                     
                        </div>
                        <div class="card-action right-align">
                                <a href="#" class="white-text text-shadow dark-grey darken-2">Full Review</a>
                        </div>
                    </div>               
            </div>                 
        </div>
        {% endfor %}
    </div>
 

{% endblock %}
